@model IEnumerable<CandidatesManager.ViewModels.CandidateCKViewModel>;

@{
    ViewData["Title"] = "CandidatesCK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Кандидати от отдел „СК“, родени след 1990 г.</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-12 mx-auto mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Пореден номер</th>
                        <th scope="col">Име</th>
                        <th scope="col">Отдел</th>
                        <th scope="col">Образование</th>
                        <th scope="col">Точки</th>
                        <th scope="col">Дата на раждане</th>
                        <th scope="col">КОД</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var candidate in Model)
                    {
                        <tr>
                            <td>@candidate.Number</td>
                            <th scope="row">@candidate.FirstName @candidate.MiddleInitial @candidate.LastName</th>
                            <td>@candidate.Department</td>
                            <td>@candidate.Education</td>
                            <td>@candidate.Score</td>
                            <td>@candidate.Birthdate</td>
                            <td>@candidate.Code</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

